.ant-layout-sider-has-trigger .ant-layout-sider-children .sider-nav{
  width: 200px;
}
.ant-layout-sider-collapsed .ant-layout-sider-children .sider-nav{
  width: 80px;
}

.sider-nav{
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  padding-bottom: 48px;
}

.sider-nav::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.sider-nav::-webkit-scrollbar-thumb {
  background-color: #777;
}



::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #777;
}