.ant-layout-sider-has-trigger .ant-layout-sider-children .sider-nav{
  width: 200px;
  transition: width .2s;
}
.ant-layout-sider-collapsed .ant-layout-sider-children .sider-nav{
  width: 80px;
  /* transition: width .2s; */
}

.ant-menu-inline{
  border: none !important;
}

.ant-menu-vertical{
  border: none !important;
}

.sider-nav{
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  padding-bottom: 48px;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 0 10px ;
  background: #fff;
}

/* .sider-nav::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.sider-nav::-webkit-scrollbar-thumb {
  background-color: red;
} */

.sider-nav::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.sider-nav::-webkit-scrollbar-track-piece {
  background: #fff;
}

.sider-nav::-webkit-scrollbar-thumb {
  background: #d7d7d7;
  border-radius: 12px;
}