.login-background {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.login-wrap {
    border-radius: 16px;
    box-shadow: rgba(30, 30, 30, 0.3) 0 15px 50px  -5px;
    background-image: linear-gradient(to top, #00c6fb 0%, rgba(0, 91, 234, 0.70) 100%);
    width: 950px;
    height: 500px;
    display: flex;
}

.login-wrap-right {
    position: relative;
    width: 500px;
    height: 500px;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-wrap-left {
    width: 450px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.login-wrap-back{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 30px;
    left: 20px;
    background: url(../../assets/img/login/back.png) 100% 100% no-repeat;
}

.banner-decoration {
    width: 140px;
    height: 140px;
    border-radius: 0 16px 0 140px;
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-decoration span {
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 30px 25px;
}

.login-form {
    width: 65%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login-form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.login-form h1 {
    letter-spacing: 4px;
    color: #333;
    font-size: 40px;
    font-weight: bold;
}

.login-input {
    width: 100%;
    padding: 0 10%;
    border: none;
    border-bottom: #999 2px solid;
    height: 40px;
    border-radius: 6px;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
}

.login-input:focus {
    outline: none;
}

.login-input::-webkit-input-placeholder {
    color: #d7d7d7;
}

.login-submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-button {
    height: 40px;
    width: 60%;
    border: none;
    border-radius: 16px;
    margin: 20px 0;
    background-color: #0068ec;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    transition: all .25s ease-in-out;
}

.login-button:hover {
    background-color: #AC32E4;
    transition: all .25s ease-in-out;
    color: #fff;
    box-shadow: #d7d7d7 0 4px 10px 0;
}

.login-button:focus {
    outline: none;
}

.register-link {
    text-decoration: none;
    color: #666;
    font-weight: bold;
}

.icon {
    color: #999;
    left: 2%;
    font-size: 20px !important;
    position: absolute;
    top: 26px;
}

.ant-form-explain{
    color: #fa4a2b !important;
    letter-spacing: 2px;
    font-weight: bold;
}
